<a href="https://colab.research.google.com/github/SamirKhadka890/Lets-Upgrade/blob/master/Day_3_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
height = input("Enter a height in ft")
height = int(height)
if height<1000 :
    print("Safe to land")
elif height<5000  and height> 1000:
    print("Bring down to 1000 ft")
else  :
    print("Turn around")

Enter a height in ft400
Safe to land

In [3]:
lower = 1042000
upper = 702648265

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print("The first ArmStrong number is")
       print(num)
       
       break

The first ArmStrong number is
1741725

In [1]:
lower = 1
upper = 200

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 1 and 200 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199